body{
    margin: 0px;
 }   
 #filtdiv{
   display: flex;
   justify-content: space-between;
   
   width: 35%;
   height: 5vh;
   margin-left: 55vw;
   margin-top: 10vh;
   /* margin-bottom:10vh; */
 }
 #filtbtn{
   border: none;
   font-size: 20px;
   border-radius:10px;
   margin-left: 2vw;
   padding: 5px 20px;
   background-color: rgb(105, 88, 88);
   color: white;
   font-weight: 800;
   box-shadow: rgba(167, 162, 162, 0.45) 0px 25px 20px -20px;
 }
 #filtbtn:hover{
   background-color: rgb(149, 114, 220);
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 }
 
 #searchform{
   display: flex;
   justify-content: space-between;
   width: 250px;
   margin-left: -11vw;
   height: 30px;
   gap: 5px;
  justify-items: center;

 }
 #search-focus{
   width: 200px;
   height: 40px;
   margin-top: 5px;
 }
 #search{
   border: none;
   background-color: white;
 }
.dropdown:hover>.dropdown-menu{
display:flex;
padding:40px 100px 10px 5px;
box-shadow: none;
}
#welcome{
   float: right;
   margin: 3px 15px 0px 0px;
}

#pr{
   text-decoration: none;
   color: rgb(177, 172, 172);
   font-size: 15px;
   margin-left: 70px;
    margin-bottom: 20px;
   font-weight: 600;
}
#pr:hover{
   color: black;
}
#hr{
   text-decoration: none;
   color: black;
   font-size: 20px;
   margin-left: 70px;
   margin-bottom: 10px;
   font-weight: 800;
}
#lr{
   margin-left: 10vh 0vw 0vh 10vw;
   
}
 .nav{
    display: flex;
    justify-content: space-between;
    
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    padding:16px 30px 16px 30px;
 }
 
 #main2,#m,#w{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
   margin-left: 2vw;
   margin-top: 10vh;
}
#main3{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
   margin-left: 2vw;
   margin-top: 10vh;
}
#main4{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 30px;
   margin-left: 2vw;
   margin-top: 10vh;

}
 
 @media only screen and (max-width:800px) {

   #filtdiv{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 5px;
   }
   .navdiv{
      width: 30%;
    }
    .nav>div:nth-child(2){
     display: none;
    }
    .navdiv>a{
      /* margin-right: 3vw; */
      text-decoration: none;
      font-size: 20px;
      color: black;
   }
   .nav2>div{
      width: 20%;
    }
    .nav2>div:nth-child(2){
      display: none;
    }
    .nav2{
      flex-direction: column;
    }

    #main2,#m,#w{
      display:grid;
      grid-template-columns: repeat(2,1fr);
 }
 #main3{
   display:grid;
   grid-template-columns: repeat(2,1fr);
}
#main4{
   display:grid;
   grid-template-columns: repeat(2,1fr);
}
}
 .navdiv>a{
    margin-right: 3vw;
    text-decoration: none;
    font-size: 20px;
    color: black;
 }
 .nav2>div{
   width: 20%;
 }
 .nav2{
    display: flex;
    justify-content: space-between;
    margin: 5vh 2vw 0vh 0vw;
    
 }
 .nav2>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    
 } 
 .navdiv2>a{
    margin: 0vh 0vw 0vh 2vw;
    text-decoration: none;
    font-size: 30px;
    color: black;
 }
 .navdiv2>a:hover{
   /* margin: 0vh 0vw 0vh 2vw; */
   text-decoration: none;
   /* font-size: 35px; */
   color: rgb(248, 93, 3);
}
 .navdiv2{
   display: flex;
 } 
 .mainframe{
    width: 96%;
    margin-top: 2vh;
 }

 #main2>div{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   padding: 20px 0px;
   width: 70%;
   border-radius: 20px;
 }
 #main2>div>img{
width:120px;
height: 200px;
margin-left: 3vw;
padding: 20px 0px;
 }
 #main2>div>img:hover{
transform: scale(1.3);
cursor: pointer;
 }

 
 #main2>div>h3{
   font-size: 20px;
  padding: 2px 30px;

 }
 #main2>div>p{
   font-size: 14px;
   padding: 2px 30px;

 }

#main3>div{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   padding: 20px 0px;
   width: 70%;
   border-radius: 20px;
}
#main3>div>img{
   width:120px;
   height: 200px;
   margin-left: 3vw;
   padding: 20px 0px;
}
#main3>div>img:hover{
transform: scale(1.3);
cursor: pointer;
}


#main3>div>h3{
   font-size: 20px;
  padding: 2px 30px;

}
#main3>div>p{
   font-size: 14px;
  padding: 2px 30px;

}

#main4>div,#m>div,#w>div{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   padding: 20px 0px;
   width: 70%;
   border-radius: 20px;
}
#main4>div>img,#m>div>img,#w>div>img{
   width:120px;
   height: 200px;
   margin-left: 3vw;
   padding: 20px 0px;
}
#main4>div>img:hover,#m>div>img:hover,#w>div>img:hover{
transform: scale(1.3);
cursor: pointer;
}


#main4>div>h3,#m>div>h3,#w>div>h3{
   font-size: 14px;
   padding: 2px 30px;

}
#main4>div>p,#m>div>p,#w>div>p{
   font-size: 14px;
   padding: 2px 30px;

}
#main4>div>button,#main3>div>button,#main2>div>button,#m>div>button,#w>div>button{
   border: none;
   font-size: 20px;
   border-radius:10px;
   margin-left: 2vw;
   padding: 5px 20px;
   background-color: rgb(105, 88, 88);
   color: white;
   font-weight: 800;
   box-shadow: rgba(167, 162, 162, 0.45) 0px 25px 20px -20px;
}
#main4>div>button:hover,#main3>div>button:hover,#main2>div>button:hover,#m>div>button:hover,#w>div>button:hover{
   background-color: rgb(149, 114, 220);
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

